<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="historique.css">
    <title>Historique</title>
</head>
<body>

<div class="menu">
    <ul>
        <li><a href="../SAE301/naturotheque/naturotheque.html">Ma naturothèque</a></li>
        <li><a href="compte.html">Mon compte</a></li>
        <li><a href="parametre.html">Parametre</a></li>
        <li><a href="Deconnexion.html">Deconnexion</a></li>
    </ul>
</div>

<main>
    <h3>Historique</h3>

    <div class="search">
        <form action="#">
            <input type="text" placeholder=" Chercher un Taxon">
            <button><i class="recherche"></i></button>
        </form>
    </div>

    <div class="modification">
        <a href="historique_ajout.php">Ajout</a>
        <a href="historique_suppression.php">Suppression</a>
        <a href="historique_modification.php">Modification</a>
    </div>

    <div class="div1">
        <!-- Bloc dans lequel les taxons vont apparaitre -->
        <a href="url">Lien des ID des taxons</a>
    </div>
</main>

</body>
</html>
